
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark mt-3">
  <div class="col-md-6 px-0">
    <h1 class="display-4 fst-italic">Payment Detail Register</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <app-payment-detail-form></app-payment-detail-form>
  </div>
  <div class="col-md-6">
    <table class="table">
      <thead class="table-dark">
          <tr>
              <th>Card Owner</th>
              <th>Card Number</th>
              <th>Exp. Date</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let payments of service.payments">
              <td (click)="populateForm(payments)">{{payments.cardOwnerName}}</td>
              <td (click)="populateForm(payments)">{{payments.cardNumber}}</td>
              <td (click)="populateForm(payments)">{{payments.expirationDate}}</td>
              <td>
                <!-- <button class="btn btn-danger" (click)="onDelete(payments.paymentDetailId)">Delete</button> -->
                  <i (click)="onDelete(payments.paymentDetailId)" class="far fa-trash-alt fa-lg text-danger"></i>
              </td>
          </tr>
      </tbody>
  </table>
  </div>
</div>
